@import '../../../stylesheets/color-palette'
@import '../../../stylesheets/common'

bottom-separator = 1px solid separator-color
bottom-separator-shadow = 0px 1px 4px 0px rgba(0, 0, 0, 0.12)
logo-shadow = 0px 1px 4px rgba(0, 0, 0, 0.4)

.user-panel
	display flex
	justify-content space-between
	align-items center

	box-sizing border-box
	padding 0px main-left-offset 0px main-right-offset
	border-bottom bottom-separator
	box-shadow bottom-separator-shadow
	background url('../img/header-bg.png') repeat-x

	.logo
		flex-grow 1
		color holy-white
		text-shadow logo-shadow

	.user-info
		flex-grow 5
		text-align right
		color holy-white
		&:before
			content '\f007'
			font-family AwesomeIcon
			margin-right 5px
			color secondary-action-color

	.log-out
		color secondary-action-color
		border 2px solid secondary-action-border-color
		text-decoration none
		margin-left 20px
		border-radius 1em
		padding 2px 15px
		&:after
			content '\f08b'
			font-family AwesomeIcon
			margin-left 5px

		&:hover
			background secondary-action-background-color
