@import '../../../stylesheets/color-palette'

bottom-line = 5px solid fresh-dollar

.user-panel
	display flex;
	justify-content space-between;
	align-items center;
	color #fff

	box-sizing border-box
	border-bottom bottom-line
	background black-hole
	padding 5px 35px
	margin-bottom 10px
	
	.logo
		flex-grow 1;
		min-width 100px;
		
	.user-info
		flex-grow 5;
		text-align right;
	
	.log-out
		min-width 100px
		text-align right
