@import '../../../stylesheets/color-palette'
@import '../../../stylesheets/common'

.countdown-circle
	.timespan
		color main-text

	.circle-container
		transform rotate(-270deg)

		.circle-elapsed
			stroke secondary-text-color

		.circle-remaining
			stroke main-text
			stroke-dashoffset 0
			transform rotateY(180deg)//force the timer to move clockwise
			transform-origin 50% 50%
			transition all 1s linear
