@import '~common/stylesheets/color-palette'
@import '~common/stylesheets/common'

scroll-down-arrow-width = 4vw
scroll-down-arrow-offset = (100vw - 4vw) / 2


.landing-video-container
	position fixed
	top 0
	left 0
	width 100%
	height 100vh

	.landing-video-image-fallback
		height 100%
		background url(./img/landing-bg-1366.jpg) no-repeat #000

.landing-content
	position absolute
	width 100%

	header
		position relative
		width 100%
		height 100vh

	main
		width 100%
		padding 0 main-left-offset 0 main-right-offset
		box-sizing border-box
		background game-background repeat-x background-green-0

		section
			padding-top 4rem

			h2
				color main-text
				text-align center
				margin 0 0 1.5rem 0

	footer
		width 100%
		padding 0 main-left-offset 0 main-right-offset
		box-sizing border-box
		background background-green-0
		font-size .8rem

	.tagline
		position relative
		top	3rem
		padding-left main-left-offset
		color #fff
		font-family Monospace, Consolas, 'Menlo Regular'
		font-size 1.7rem

		.line
			margin 0
			padding .5rem

		.line-2
			padding-left 2rem

	.scroll-down-arrows
		position absolute
		bottom 2rem
		width scroll-down-arrow-width
		height 2rem
		margin-left scroll-down-arrow-offset

		.scroll-down-arrow
				stroke holy-white
				fill transparent
				stroke-width 3px
				animation scroll-down-arrow 1.5s infinite

				&.arrow-1
					animation-delay -.6s
				&.arrow-2
					animation-delay -.3s
				&.arrow-3
					animation-delay 0s

	.about
		.about-description-container
			margin 0
			color holy-white
			text-align center
			line-height 1.5em

	.schedule
		.schedule-list
			margin 0
			padding 0
			list-style none
			padding-left 5rem

			.schedule-entry
				line-height 2rem

				.entry-link
					color secondary-action-color
					text-decoration none
					font-weight bold
					padding .2rem

					&:hover
						background secondary-action-background-color

				.entry-meta
					color holy-white

				&.-past
					.entry-meta
						color alpha(holy-white, .8)

	//super draft
	.crew
		padding-top 4rem
		h3
			color holy-white
			margin 0 0 .5rem 0
		ul
			margin 0
			padding 0
			list-style none
			padding 0 0 1.5rem 2rem

			li
				display inline-block
				padding-right 2rem
				a
					color secondary-action-color
					text-decoration none

@keyframes scroll-down-arrow
	0%
		opacity 0

	40%
		opacity 1

	80%
		opacity 0

	100%
		opacity 0
