landing-background = #000

landing-tagline-color = #fff
landing-tagline-font-size = 2em
landing-tagline-font-family = Monospace, Consolas, "Menlo Regular"

main-background = #fff

body
	background landing-background no-repeat
	background-size cover

.tagline
	color landing-tagline-color
	font-family landing-tagline-font-family
	font-size landing-tagline-font-size
	position absolute
	top 0px
	left 0px
	
	.line-2
		margin-left landing-tagline-font-size
