body
	background-image url(./img/landing-bg-1366.jpg)

//------ retina ----
@media (min-device-pixel-ratio: 2), (min-resolution: 120dpi)
	body
		background-image url(./img/landing-bg-3840.jpg)

@media (orientation: portrait)
	body
		background-image url(./img/landing-bg-portrait-1668.jpg)
