@import '../../../stylesheets/color-palette'

.players-list-table
	table-layout fixed
	border-spacing 1px
	border-collapse separate
	width 100%
	white-space nowrap
	color holy-white

	.col-player-name
		width 70%
	.col-player-time
		width 15%
	.col-player-length
		width 15%

	td, th
		background black-gold

	th
		font-size 1.3em
		line-height 1.6em

	tr
		&.row-player-correct
			color fresh-dollar

	td
		white-space nowrap
		overflow hidden
		text-overflow ellipsis
		font-size 1.3em
		line-height 1.6em
		padding 0 5px

		&.cell-player-time, &.cell-player-length
			text-align center
