@import '../../../stylesheets/color-palette'
@import '../../../stylesheets/common'

meta-separator = 1px solid separator-color
list-item-separator = 2px solid separator-color

.players-list

	.players-list-meta
		display flex

		.sub-meta
			flex-grow 1
			display flex
			justify-content center

			&.-total
				color holy-white
				border-right meta-separator

			&.-passed
				color success-green

			.amount
				font-size 3em
				margin-right 10px

			.text
				line-height 150%

				&:before
					content '\f0c0'
					font-family AwesomeIcon
					display block

	.players-list-table
		.header, .item
			display flex
			justify-content space-between
			border-bottom list-item-separator
			line-height 2.5em

		.header
			color secondary-text-color

		.item
			color holy-white

			&.-passed
				color success-green

		.-name
			flex-grow 3
		.-time, -length
			flex-grow 1
			text-align right
