@import '~common/stylesheets/color-palette'
@import '~common/stylesheets/common'

light-shadow = 0 1px 4px rgba(0, 0, 0, .15)

.game-countdown
	.user-panel
		width 100%
		height user-panel-height

.game-countdown-container
	padding 0 main-left-offset 0 main-right-offset

	.puzzles-progress
		margin-bottom 0.8em

	.levels-info-num
		color secondary-text-color
		text-shadow light-shadow
		font-size 1.2em
		margin 0

	.levels-info-name
		color main-text
		font-weight bold
		text-shadow light-shadow
		margin .4em 0
		font-size 1.5em

	.controls
		width 100%
		display flex
		justify-content space-between
		align-items stretch
		flex-wrap wrap
		margin .8em 0

	.controls-selector-banned-container
		display flex
		width 100%
		align-items center
		color secondary-text-color
		text-shadow light-shadow

	.controls-selector-input
		flex 1
		box-sizing border-box
		outline none
		padding 10px
		background lighter-than-background
		border 1px solid lighter-than-background-border
		border-radius 3px
		color holy-white

		&::placeholder
			color secondary-text-color

	.timespan
		font-size 15em
		color secondary-text-color
		text-align center
		text-shadow light-shadow
