.game-screen
	.user-panel
		width 100%


.game-screen-container
	width 80%
	margin auto

	.qd-pearl-thread
		width 100%

	.controls
		width 100%
		display flex
		justify-content space-between
		align-items stretch
		flex-wrap wrap
		margin .8em 0

	.timespan
		font-size 3em
		margin-left .3em

	.controls-selector-banned-container
		display flex
		width 100%
		align-items center
		box-sizing border-box

	.controls-selector-input
		flex 1
		box-sizing border-box
		outline none
		padding 10px

@media (orientation portrait)
	.game-screen-container
		width 96%

//NON-PRODUCTION styles; only for testing
.user-panel
	background #888
.qd-pearl-thread
	background #da5
