@import '~common/stylesheets/color-palette'
@import '~common/stylesheets/common'

light-shadow = 0 1px 4px rgba(0, 0, 0, .15)

.game-screen
	.user-panel
		width 100%
		height user-panel-height

.game-screen-container
	padding 0 main-left-offset 0 main-right-offset

	.puzzles-progress
		margin-bottom 1.3em

	.levels-info-num
		color secondary-text-color
		text-shadow light-shadow
		font-size 1.5em
		margin 0 .3em 0 0

	.levels-info-name
		color main-text
		font-weight bold
		text-shadow light-shadow
		margin .4em 0
		font-size 1.5em

	.controls
		width 100%
		display flex
		justify-content space-between
		align-items stretch
		flex-wrap wrap
		margin .4em 0 .8em 0

	.controls-selector-banned-container
		display flex
		width 100%
		align-items center
		color secondary-text-color
		text-shadow light-shadow

	.controls-selector-input
		flex 1
		box-sizing border-box
		outline none
		padding 20px
		background lighter-than-background
		border 1px solid lighter-than-background-border
		border-radius 3px
		color holy-white
		align-self center
		font-family monospace

		&:disabled
			background lighter-than-background-disabled
			color holy-white-disabled
		&:focus
			border 1px solid alpha(main-text, .4)
			box-shadow 0 0 4px 0px alpha(main-text, .2) inset, 0 0 4px 0px alpha(main-text, .2)

		&::placeholder
			color secondary-text-color
			font-family sans-serif

	.countdown-circle
		font-size 1.5em
		margin-left 1em

		&.solution-timer
			.circle-remaining
				stroke success-green
			.timespan
				color success-green

	.success-marker
		color fresh-dollar
		font-size 3em

	.match-renderer
		font-size 1.2em

@media (orientation portrait)
	.game-screen-container
		width 96%
