@import '../../common/stylesheets/color-palette'

.game-screen
	.user-panel
		width 100%


.game-screen-container
	width 80%
	margin auto

	.qd-pearl-thread
		width 100%

	.controls
		width 100%
		display flex
		justify-content space-between
		align-items stretch
		flex-wrap wrap
		margin .8em 0

	.timespan
		font-size 3em
		margin-left .3em

	.success-marker
		color fresh-dollar
		font-size 3em

	.controls-selector-banned-container
		display flex
		width 100%
		align-items center
		box-sizing border-box

	.controls-selector-input
		flex 1
		box-sizing border-box
		outline none
		padding 10px

	.success-overlay
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		background fog-60

		.success-message
			position absolute
			font-size 3em
			bottom 1em
			left 0
			width 100%
			font-weight 700
			text-align center
			background fog-80
			border 1px solid old-dollar
			border-width 1px 0px
			color fresh-dollar

@media (orientation portrait)
	.game-screen-container
		width 96%

//NON-PRODUCTION styles; only for testing
.user-panel
	background #888
.qd-pearl-thread
	background #da5
