@import '../../common/stylesheets/color-palette'

.game-master-screen
	.user-panel
		width 100%

.game-master-screen-container
	width 96%
	margin auto
	color holy-white

	.client-url
		width 70%
		background black-velours
		border 1px solid holy-white
		padding 2px 5px

	.qd-pearl-thread
		width 100%
		margin-bottom 1em

	.master-controls-container
		display flex

		.players-list, .master-controls
			width 50%

		.master-controls-solution-container
			font-size 1.5em
			margin-top 0.5em

			.solution-value
				color fresh-dollar

		.controls-selector-banned-container
			font-size 1.5em

			.qd-occurrence-indicator
				color nectarine

		.players-list
			.aggregate-score-item
				display flex
				background black-gold
				margin-bottom 1px
				font-size 1.4em
				line-height 1.5em

				div
					padding 5px
					white-space nowrap
					overflow hidden
					text-overflow ellipsis

				&.prize
					background old-dollar
				&.grand-prix
					background dark-gold

				.aggregate-score-player-name
					flex-basis 6em
					flex-grow 2

				.aggregate-score-player-selector
					flex-grow 3

				.aggregate-score-player-score
					flex-basis 3em
					text-align right

	.master-controls-timings
		display flex
		align-items center

		.round-title
			flex-grow 4
			line-height 1.2em
			font-size 1.5em
			overflow hidden

		.timespan
			font-size 3em
			margin-left 0.5em
			line-height 1.2em
			color holy-white

	.master-controls-gameplay
		display flex
		justify-content space-between

	.controls-selector-banned-container
		display flex
		align-items center

//NON-PRODUCTION styles; only for testing
.qd-pearl-thread
	background #da5
	div
		display inline-block
		margin-right 20px
