@import '../../common/stylesheets/color-palette'

.game-master-screen
	.user-panel
		width 100%

.game-master-screen-container
	width 96%
	margin auto
	color holy-white

	.qd-pearl-thread
		width 100%

	.master-controls-container
		display flex

		.players-list, .master-controls
			width 50%

	.master-controls-timings
		display flex
		align-items center

		.round-title
			flex-grow 4
			line-height 1.2em
			font-size 1.5em
			overflow hidden

		.timespan
			font-size 3em
			margin-left 0.5em
			line-height 1.2em
			color holy-white

	.master-controls-gameplay
		display flex
		justify-content space-between

	.controls-selector-banned-container
		display flex
		align-items center

//NON-PRODUCTION styles; only for testing
.qd-pearl-thread
	background #da5
	div
		display inline-block
		margin-right 20px
