@import '../../common/stylesheets/color-palette'

.game-master-screen
	.user-panel
		width 100%

.game-master-screen-container
	width 96%
	margin auto
	
	.qd-pearl-thread
		width 100%
	
	.master-controls-container
		display flex
		
		.players-list, .master-controls
			width 50%
		
		.players-list-table
			table-layout fixed
			border-spacing 1px
			border-collapse separate
			width 100%
			white-space nowrap
			color holy-white
			
			.col-player-name
				width 70%
			.col-player-time
				width 15%
			.col-player-length
				width 15%
			
			td, th
				background black-gold
			
			th
				font-size 1.3em
				line-height 1.6em
			
			td
				white-space nowrap
				overflow hidden
				text-overflow ellipsis
				font-size 1.3em
				line-height 1.6em
				padding 0 5px
				
				&.cell-player-time, &.cell-player-length
					text-align center
	
	.master-controls-timings
		display flex
		
		.round-title
			flex-grow 4
		.round-timer
			flex-grow 1
	
	.master-controls-gameplay
		display flex
		justify-content space-between

//NON-PRODUCTION styles; only for testing
.user-panel
	background #888
.qd-pearl-thread
	background #da5
	div
		display inline-block
		margin-right 20px
.master-controls
	background #4fa
.round-title
	background #efa
.round-timer
	background #41a
.master-controls-gameplay
	background #555
.start
	background #f00
.stop
	background #0f0
.next
	background #00f
.master-controls-solution-container
	background #81e
.controls-selector-banned-container
	background #319
.master-controls-puzzle
	background #eea
