@import '../../../stylesheets/color-palette'

.button
	color holy-white
	border 1px solid holy-white
	font-size 1.1em
	line-height 1.5em
	padding 5px 15px
	cursor pointer
	transition background 300ms
	
	&:hover
		background rgba(56, 56, 56, 0.7)
	&:active
		color black-hole
		border-color rgba(56, 56, 56, 0.7)
