background-color     = #fff
text-color           = #555
tagname-color        = #008080
attrname-color       = #458
attrvalue-color      = #D14
positive-match-color = #9f9
negative-match-color = #FFA5BB
