@require '../../color-palette'

background-color     = transparent
text-color           = #fff
tagname-color        = #eb5680
attrname-color       = #a9da46
attrvalue-color      = #cac277
objective-background = rgba(179, 229, 71, 0.1)
positive-match-color = rgba(179, 229, 71, 0.3)
negative-match-color = rgba(238, 84, 84, 0.37)
