generate-theme(themeName)
	@import themeName

	&[theme={themeName}]
		color text-color
		background background-color

		.row.objective
			box-shadow positive-match-color 0px 0px 0px 1px inset
			background objective-background

		.row.-matched-negative
			background negative-match-color

		.row.-matched-positive
			background positive-match-color

		.tagname
			color tagname-color

		.attr-name
			color attrname-color

		.attr-value
			color attrvalue-color
