/* Palette */
black-velours = #212121 //dark, mainly background
black-gold = #141414
black-hole = #000

holy-white = #fff

transparent-grass = rgba(9, 148, 76, 0.19)
fresh-dollar = #349161 //main green colour
old-dollar = #1a4931 //dark green colour

nectarine = #f30 //the color of fail
boggart-nectarine = rgba(255, 51, 0, 0.5)

gold = #ffd700
dark-gold = #bf9b30

fog-60 = rgba(255, 255, 255, 0.6)
fog-80 = rgba(255, 255, 255, 0.8)
