/* Palette */
black-velours = #212121 //dark, mainly background
black-gold = #141414
black-hole = #000

transparent-grass = rgba(9, 148, 76, 0.19)
fresh-dollar = #349161 //main green colour
old-dollar = #1a4931 //dark green colour

nectarine = #f30 //the color of fail
boggart-nectarine = rgba(255, 51, 0, 0.5)

gold = #ffd700
dark-gold = #bf9b30

fog-60 = rgba(255, 255, 255, 0.6)
fog-80 = rgba(255, 255, 255, 0.8)


holy-white = #fff

background-green-0 = #183d3d
background-green-1 = #224b4b
background-green-2 = #2d5d59
background-green-3 = #43827f
game-background = linear-gradient(to top, background-green-0 0%, background-green-1 35%, background-green-2 70%, background-green-3 100%)

separator-color = #4e8882

secondary-action-color = #badece
secondary-action-border-color = #84b4aa
secondary-action-background-color = rgba(186, 222, 206, 0.26)
