/* Palette */
black-velours = #212121 //dark, mainly background
black-hole = #000

fresh-dollar = #349161 //main green colour
old-dollar = #1a4931 //dark green colour

nectarine = #f30 //the color of fail
