@import './color-palette.styl'

.qd-occurrence-indicator
	display flex
	flex 1
	padding 5px

	.qd-pattern
		padding .2em
		text-align center
		transition background .1s
		margin 5px
		border 1px solid boggart-nectarine
		border-radius 3px

		&.-matched
			background nectarine
