@import './color-palette.styl'

pattern-box-background = #426f6a
pattern-box-matched-background = #745a57
pattern-box-matched-border-stub = 2px solid transparent
pattern-box-matched-border = 2px solid rgba(238, 84, 84, .45)

//fix with complete font size integration
pattern-box-size = 25px

.qd-occurrence-indicator
	display flex
	flex 1
	padding 0 5px

	.qd-pattern
		padding 1px
		text-align center
		transition background .1s, transform 150ms
		margin 5px
		border-radius 3px
		background pattern-box-background
		color holy-white
		min-width pattern-box-size
		min-height pattern-box-size
		box-sizing border-box
		border pattern-box-matched-border-stub

		&.-matched
			background pattern-box-matched-background
			border pattern-box-matched-border
			transform scale(1.5)
