@import './color-palette.styl'

.qd-occurrence-indicator
	display flex
	flex 1
	padding 5px

	.qd-pattern
		flex 1
		padding .2em
		text-align center
		transition background .1s
		margin 5px

		&.-matched
			background nectarine
