<!DOCTYPE html>
<html>
<head>
	<title>CSS Quickdraw - <%- title %></title>
</head>
<body>
	<script>
		window.sessionId = "<%-sessionId-%>"
	</script>
	<script type="text/javascript" src="./bundle-<%- view_name -%>.js"></script>
</body>
</html>
